body {
  background-color: rgb(135, 163, 168);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
}
h2 {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boton {
  align-items: center;
  width: 300px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(
    20deg,
    rgb(199, 199, 199),
    rgb(95, 219, 219)
  );
}
.link {
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}
